<form  class="w-75 m-auto py-5"  [formGroup]="addPlayground" (ngSubmit)="add()" enctype="multipart/form-data">
    <div class="form-group my-2">
        <label>Name</label>
        <input [class.is-valid]="addPlayground.get('name')?.errors ==null && addPlayground.get('name')?.touched"
            formControlName='name' type="text" class="form-control">
        <p *ngIf="addPlayground.get('name')?.errors !=null && addPlayground.get('name')?.touched"
            class="py-2 text-danger">inValid</p>
    </div>
    <div class="form-group my-2">
        <label>Description</label>
        <input [class.is-valid]="addPlayground.get('description')?.errors ==null && addPlayground.get('description')?.touched"
            formControlName='description' type="text" class="form-control">
        <p *ngIf="addPlayground.get('description')?.errors !=null && addPlayground.get('description')?.touched"
            class="py-2 text-danger">inValid</p>
    </div>
    <div class="form-group my-2">
        <label>Location</label>
        <input [class.is-valid]="addPlayground.get('location')?.errors ==null && addPlayground.get('location')?.touched"
            formControlName='location' type="text" class="form-control">
        <p *ngIf="addPlayground.get('location')?.errors !=null && addPlayground.get('location')?.touched"
            class="py-2 text-danger">inValid</p>
    </div>

    <div class="form-group my-2">
        <label>Price</label>
        <input [class.is-valid]="addPlayground.get('price')?.errors ==null && addPlayground.get('price')?.touched"
        formControlName='price' type="number" class="form-control" min="0">
        <p *ngIf="addPlayground.get('price')?.errors !=null && addPlayground.get('price')?.touched"
        class="py-2 text-danger">inValid</p>
    </div>
    
    <div class="form-group my-2">
        <label>Size</label>
        <input [class.is-valid]="addPlayground.get('size')?.errors ==null && addPlayground.get('size')?.touched"
            formControlName='size' type="number" class="form-control">
        <p *ngIf="addPlayground.get('size')?.errors !=null && addPlayground.get('size')?.touched"
            class="py-2 text-danger">inValid</p>
    </div>

    <div class="form-group my-2">
        <label>Type</label>
        <input [class.is-valid]="addPlayground.get('type')?.errors ==null && addPlayground.get('type')?.touched"
            formControlName='type' type="text" class="form-control">
        <p *ngIf="addPlayground.get('type')?.errors !=null && addPlayground.get('type')?.touched"
            class="py-2 text-danger">inValid</p>
    </div>
    <div class="form-group my-2">
        <label>photo</label>
        <input [class.is-valid]="addPlayground.get('image')?.errors ==null && addPlayground.get('image')?.touched"
        formControlName='image' type="file" (change)="onFileSelected($event)" class="form-control">
        <img class="img-fluid" [src]="'http://localhost/cafeteria/backend/'+oldPic" width="50px" *ngIf="oldPic">
      </div>

      <div class="form-group my-2">
        <label>User id</label>
        <input [class.is-valid]="addPlayground.get('user_id')?.errors ==null && addPlayground.get('user_id')?.touched"
        formControlName='user_id' type="number" class="form-control" min="0">
        <p *ngIf="addPlayground.get('user_id')?.errors !=null && addPlayground.get('user_id')?.touched"
        class="py-2 text-danger">inValid</p>
    </div>
   
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>