@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');   /* font-family: 'Agdasima', sans-serif; */

.main{
  background-color: var(--main-color);
  /* color: white; */
}

#mainImg{
  height: 70vh;
  width: 100%;
}
.user-initial {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #E2F6E2;
  color: var(--neon-green);
  text-align: center;
  font-size: 18px;
  line-height: 3rem;
  margin-right: 10px;
  font-weight: bold;
}

h2{
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
}

.txt{
  font-weight: bold;
  font-size: 1.5rem;
}

tr{
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom:1px solid #5C5C5C;
}

th{
  text-transform: uppercase;
  font-weight: bold;
}

td{
  color: #6C757D;
  text-transform: none;
  font-weight: normal;
}


.allImg{
    height: 11rem;
    width: 100%;
    margin-bottom: 1rem;
}

.section{
    margin-bottom: 5%;
}


button{
  float: right;
  margin: .5rem;
}

.price-txt{
  font-weight: bold;
  color: var(--neon-green);
}




