
<div class="card shadow h-100">
  <img class="card-img-top" [src]="'http://localhost:8000/images/'+playground.image" alt="{{ playground.name }}">
  <div class="card-body d-flex flex-row justify-content-between">
    <div class="col-6">
    <h4 class="card-title">{{ playground.name }}</h4>
    <p class="card-text">{{ playground.description }}</p>
    </div>

    <div class="col-6 d-flex justify-content-end align-items-end">
      <a class="btn px-2" (click)="redirectToDetails(playground.id)">more details</a>
    </div>
  </div>
</div>

