
<div class="container pt-2 text-end pb-3">
  <div class="text-center">
    <h3 class="text-success">Hello, {{owner.user.name}}</h3>
  </div>
  <button (click)="addform()" class="btn btn-primary text-white">Add Field</button>
</div>

<form *ngIf="activeForm" class="w-75 m-auto py-5"  [formGroup]="addField" (ngSubmit)="add()" enctype="multipart/form-data">

  <div class="form-group my-2">
      <label>Name</label>
      <input [class.is-valid]="addField.get('name')?.errors ==null && addField.get('name')?.touched"
      formControlName='name' type="text" class="form-control">
      <p *ngIf="addField.get('name')?.errors !=null && addField.get('name')?.touched"
      class="py-2 text-danger">inValid</p>
  </div>
  <div class="form-group my-2">
      <label>Description</label>
      <input [class.is-valid]="addField.get('description')?.errors ==null && addField.get('description')?.touched"
      formControlName='description' type="text" class="form-control">
      <p *ngIf="addField.get('description')?.errors !=null && addField.get('description')?.touched"
      class="py-2 text-danger">inValid</p>
  </div>
  <div class="form-group my-2">
      <label>size</label>
      <input [class.is-valid]="addField.get('size')?.errors ==null && addField.get('size')?.touched"
      formControlName='size' type="number" class="form-control" min="0">
      <p *ngIf="addField.get('size')?.errors !=null && addField.get('size')?.touched"
      class="py-2 text-danger">inValid</p>
  </div>
  <div class="form-group my-2">
      <label>Price</label>
      <input [class.is-valid]="addField.get('price')?.errors ==null && addField.get('price')?.touched"
      formControlName='price' type="number" class="form-control" min="0">
      <p *ngIf="addField.get('price')?.errors !=null && addField.get('price')?.touched"
      class="py-2 text-danger">inValid</p>
  </div>
  <div class="form-group my-2">
    <label>category</label>
    <select id="" [class.is-valid]="addField.get('type')?.errors ==null && addField.get('type')?.touched"
    formControlName='type' type="text" class="form-select">
    <option *ngFor="let category of category" [value]="category.name" >{{category.name}}</option>
    </select>
  </div>
  <div class="form-group my-2">
    <label>location</label>
    <input [class.is-valid]="addField.get('location')?.errors ==null && addField.get('location')?.touched"
    formControlName='location' type="text" class="form-control">
    <p *ngIf="addField.get('location')?.errors !=null && addField.get('location')?.touched"
    class="py-2 text-danger">inValid</p>
  </div>
  <input formControlName='user_id' name="user_id" hidden type="text" [value]="owner.user.id">
  <div class="form-group my-2">
    <label>image</label>
    <input [class.is-valid]="addField.get('image')?.errors ==null && addField.get('image')?.touched"
    formControlName='image' type="file" (change)="onFileSelected($event)" class="form-control">
    <img class="img-fluid" [src]="'http://localhost:8000/images/'+oldPic" width="50px" *ngIf="oldPic">
  </div>


  <button [disabled]="addField.invalid" type="submit" class="btn btn-danger text-white my-2" *ngIf="activeAddbutton">Add</button>
  <button [disabled]="addField.invalid" type="submit" class="btn btn-danger text-white my-2" *ngIf="activeupdatebutton">update</button>
</form>



<table class="table table-bordered text-center">
  <thead>
      <tr>
          <th scope="col">photo</th>
          <th scope="col">Name</th>
          <th scope="col">price</th>
          <th scope="col">Description</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let row of fields">
          <td><img class="img-fluid" [src]="'http://localhost:8000/images/'+row.picture" width="50px"></td>
          <td>{{row.name}}</td>
          <td>{{row.price}}</td>
          <td>{{row.description}}</td>
          <td><button type="button" class="btn btn-warning" (click)="updateform(row.id)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteField(row.id)">Delete</button></td>
      </tr>

  </tbody>
</table>

