.carousel-caption{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  z-index: 3;
}
.btn{
  background-color: var(--neon-green);
  color: white;
}
#myCarousel {
  height: 90vh;
}

.carousel-item img {
  object-fit: cover;
  height: 90vh;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
