  <div id="myCarousel" class="carousel slide mb-6 pointer-event" data-bs-ride="carousel" data-bs-theme="light">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="../../../assets/images/p1.png" class="d-block w-90" alt="...">
        <div class="overlay"></div>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Reserve your Playground Easy</h1>
            <p class="opacity-75">A bookable online platform for sports enthusiasts <br> looking for nearby playgrounds.</p>
            <p><a class="btn" href="#">see more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
          <p class="txt">FOOTBALL</p>
        </div>

        <img src="../../../assets/images/p2.png" class="d-block w-90 img-right" alt="...">
        <div class="overlay"></div>
        <div class="container">
          <div class="carousel-caption text-center">
            <h1>Football Playgrounds</h1>
            <p>book now</p>
            <p><a class="btn" href="#">see more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <p class="txt">TENNIS</p>
        </div>
            <div class="d-flex justify-content-end">
              <img src="../../../assets/images/p3.png" class="d-block w-90 " alt="...">
            </div>
              <div class="carousel-caption text-start">
                <h1>Tennis Playgrounds.</h1>
                <p>book now</p>
                <p><a class="btn" href="#">see more</a></p>
              </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
