.footer {
  background-color: var(--main-color2);
  color: white;
  border-top: 1px solid var(--light-gray);
}
h1{
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--neon-green);
}

span{
  font-family: 'Orbitron', sans-serif;
  font-weight: 100;
  color: var(--main-color);

}
