<div class="main text-center mt-5">

  <div class="container w-50 mx-auto">

    <table class="table table-striped table-dark">
      <thead>

        <tr>
          <th>start time</th>
          <th>end time</th>
          <th>status</th>
          <th>cancel</th>
        </tr>

      </thead>
      <tbody>

        <tr *ngFor="let row of recieve">
          <td>{{row.start_time}}</td>
          <td>{{row.end_time}}</td>
          <td>{{row.status}}</td>
          <td><button [value]="row.id" type="text" class="btn btn-danger" (click)="canelReservations(row.id)">cancel</button></td>
        </tr>

      </tbody>
    </table>

  </div>

</div>
