<a routerLink="welcome" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
  <span class="fs-3 d-none d-sm-inline" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);">Dashboard</span>
</a>
<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
  <li class="nav-item">
      <a routerLink="/home" class="nav-link align-middle px-0" routerLinkActive="active-link">
          <i class="fs-4 bi-house text-black"></i> <span class="ms-1 d-none d-sm-inline">User Home</span>
      </a>
  </li>
  <li>
      <a routerLink="/admin/users" class="nav-link px-0 align-middle" routerLinkActive="active-link">
          <i class="fs-4 bi-table text-black"></i> <span class="ms-1 d-none d-sm-inline">Users</span></a>
  </li>
  <li>
    <a routerLink="/admin/adminplaygrounds" class="nav-link px-0 align-middle" routerLinkActive="active-link">
        <i class="fs-4 bi-table text-black"></i> <span class="ms-1 d-none d-sm-inline">playgrounds</span></a>
  </li>
  <li>
      <a routerLink="/admin/category" class="nav-link px-0 align-middle" routerLinkActive="active-link">
          <i class="fs-4 bi-people text-black"></i> <span class="ms-1 d-none d-sm-inline">Category</span></a>
  </li>
  <li>
    <a routerLink="#" class="nav-link px-0 align-middle" routerLinkActive="active-link">
        <i class="fs-4 bi-people text-black"></i> <span class="ms-1 d-none d-sm-inline">test3</span></a>
</li>
</ul>
