<div class="container">
  <button style="margin-bottom: 30px ;margin-left:900px ;margin-bottom:50px" (click)="addplayground()" class="btn green">add playground</button>

  <table class="table text-center">
      <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Location</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Type</th>
            <th scope="col">Image</th>
            <th scope="col">User id</th>
            <th  colspan="2">Action</th>


          </tr>
      </thead>
      <tbody>
          <tr>
            <td>name</td>
            <td>Description</td>
            <td>Location</td>
            <td>Price</td>
            <td>Size</td>
            <td>Type</td>
            <td><img src="" alt=""></td>
            <td>user id</td>
            <td><button type="button" class="btn btn-warning"> Edit </button>
              </td>
              <td><button type="button" class="btn btn-danger">Delete</button>
              </td>
          </tr>

      </tbody>
  </table>
</div>
