<div class="main d-flex justify-content-center align-items-center">
  <div class="container shadow py-5 px-5" style="max-width: 500px;">
    <div class="form-group">
      <div class="row">
        <label class="pb-2">Your Complain</label>
        <div class="col md-9">
          <input type="text" class="form-control" placeholder="write your complain"
            [(ngModel)]="complaintMessage" name="review" required #complaintInput="ngModel">
        </div>
        <div *ngIf="complaintInput.touched && !complaintMessage" class="py-2 text-danger">Complaint message is required.</div>

        <div class="form-group my-4">
          <label class="pb-2">select Playground</label>
          <select id="" [(ngModel)]="playground_id" class="form-select"> select playground
            <option *ngFor="let p of playgrounds" [value]="p.id">{{ p.name }}</option>
          </select>
        </div>

        <div class="col md-3">
          <button type="submit" class="btn btn-success w-100 py-3" (click)="postComplians()"> Send Complain</button>
        </div>

        <div class="col-md-12 mt-3">
          <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
          <div *ngIf="sucess" class="alert alert-success">{{ sucess }}</div>
        </div>

      </div>
    </div>
  </div>
</div>
