.navbar{
  background-color: var(--main-color);
}

li a{
color: black;
}

a{
    cursor: pointer;
}
li a:hover{
  color: var(--neon-green);
}

.nav-link.active {
  color: var(--neon-green) !important;
  text-shadow: 0px 0px 10px var(--neon-green);
}

h1{
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--neon-green);
}

span{
  font-family: 'Orbitron', sans-serif;
  font-weight: 100;
  /* color: white; */
  color: black;

}

sup{
  font-size: 16px;
  margin-left: 5px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}
/*
.btn{
  background-color: var(--neon-green);
} */

/* font-family: 'Bangers', cursive;
font-family: 'Bayon', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Six Caps', sans-serif;
font-family: 'Staatliches', cursive; */
