.navbar{
  background-color: var(--main-color);
}
.active{
    border-bottom: 2px solid var(--neon-green);
    color: var(--green-color);
}

a{
    cursor: pointer;
}

h1{
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--neon-green);
}

span{
  font-family: 'Orbitron', sans-serif;
  font-weight: 100;
  color: white;
}

sup{
  font-size: 16px;
  margin-left: 5px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}
/*
.btn{
  background-color: var(--neon-green);
} */

/* font-family: 'Bangers', cursive;
font-family: 'Bayon', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Six Caps', sans-serif;
font-family: 'Staatliches', cursive; */
