.navbar{
  background-color: black;
}
.active{
    border-bottom: 2px solid #14CF42;
  }

a{
    cursor: pointer;
}

h1{
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #14CF42;
}

span{
  font-family: 'Orbitron', sans-serif;
  font-weight: 100;
  color: white;
}

sup{
  font-size: 16px;
  margin-left: 5px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

/* font-family: 'Bangers', cursive;
font-family: 'Bayon', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Six Caps', sans-serif;
font-family: 'Staatliches', cursive; */
