<div>
  <div class="container text-end pb-3 w-75">
    <button (click)="addform()" class="btn btn-success text-white">Add</button>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()" *ngIf="activeForm">
    <a class="close" (click)="close()"><i class="fa-solid fa-xmark"></i></a>
    <div class="text-center">
      <div *ngIf="flag" class="alert alert-danger w-50 m-auto text-center my-3">
        {{errorMessage}}
      </div>
      <div class="alert alert-danger w-50 m-auto text-center my-3" *ngIf="myForm.hasError('invalidTimeRange')">
        Invalid time range. Please make sure the start time is less than the end time.
      </div>
      <table class="d-inline-block">
        <tr>
          <td><label>Select Day</label></td>
          <td><input type="date" class="form-control" formControlName="day" [min]="getCurrentDate()" (change)="resetform()"></td>
        </tr>
      </table><br>
      <table class="d-inline-block">
        <tr>
          <td>Time From</td>
          <td><input type="time" class="form-control" formControlName="startTime"></td>
          <td>Time to</td>
          <td><input type="time" class="form-control" formControlName="endTime"></td>
        </tr>
      </table>
      <div>
        <table *ngIf="timeSlots.length != 0" class="d-inline-block table-bordered my-2">
          <tr>
            <td class="px-4">From</td>
            <td class="px-4">To</td>
            <td *ngIf="activeEditButton">edit</td>
            <td *ngIf="!activeEditButton">delete</td>
          </tr>
          <tr *ngFor="let time of timeSlots; let i = index">
            <td>{{time.start}}</td>
            <td>{{time.end}}</td>
            <td class="px-4" *ngIf="activeEditButton"><a (click)="upToEdit(i)" class="btn btn-primary">edit</a></td>
            <td class="px-4" *ngIf="!activeEditButton"><a (click)="deleteSlot(i)"><i class="fa-solid fa-trash"></i></a></td>
          </tr>
        </table>
      </div>
      <div>
        <a class="btn btn-info mx-2" (click)="editTime()" *ngIf="editTimeBtn">edit time</a>
        <a class="btn btn-info mx-2" (click)="addTime()" *ngIf="addTimeBtn">Add time</a>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
      <div class="my-3 text-danger">
        <span>note : please select all time for same day before submit !!</span>
      </div>
    </div>
  </form>


  <div *ngIf="tableData">

    <div class="main text-center w-25 m-auto my-4">
      <select class="form-select" (change)="filter($event)">
        <option *ngFor="let day of uniqueDays" [value]="day">{{day}}</option>
      </select>
      <button class="btn btn-dark mx-3" (click)="edit()">edit</button>
    </div>

    <div class="text-center main">
      <table class="table table-striped table-dark w-50">
        <thead>
          <tr>
            <th>start_time</th>
            <th>end_time</th>
            <th>status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of recieve2">
            <td>{{row.start_time}}</td>
            <td>{{row.end_time}}</td>
            <td>{{row.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
