img{
    height: 5rem;
    width: 5rem;
  }
  
  .table, thead, tbody, th, tbody td{
  background-color: var(--light-gray);
  color: white;
  }
  table, tbody td, tr, th{
    border: 1px solid #373B3E;
  }
  .green{
    background-color: var(--neon-green);
    font-weight: bold;
  }
  .green:hover{
    color: black;
    background-color: #17da48;
    box-shadow: 0px 0px 8px #14CF42;
  }

  #addbtn{background-color: #14CF42;
    color: black;
    font-weight: bold;
    display: block;
  float: right;
  margin-bottom: 2rem;
  }

  