<div class="container">
    <!-- <button style="margin-bottom: 30px ;margin-left:900px ;margin-bottom:50px" class="btn green" (click)="openAddForm" >Create New Category</button> -->
    <div>
        <a class="btn px-2" id="addbtn" (click)="openAddForm()"> add Ctegory</a>
        <br>
    </div>

    <!-- to add category -->
    <div *ngIf="toDisplayAdd">

        <div class="form-group">
            <div class="row">
                <div class="col md-9"> <input type="text" class="form-control" placeholder="add category"
                        [(ngModel)]="categoryName" name="review" required><br>

                    <div class="col md-3"> <button type="submit" class="btn btn-info" (click)="postCategory()"> ADD
                        </button></div>
                </div>

            </div>
        </div>

    </div>

    <!-- to edit categories -->
    <div *ngIf="toedit">

        <div class="form-group">
            <div class="row">
                <div class="col md-9"> <input type="text" class="form-control" placeholder="add category"
                        [(ngModel)]="categoryNameEdit" name="review" va><br>

                    <div class="col md-3"> <button type="submit" class="btn btn-info" (click)="editCategory()"> Edit
                        </button></div>
                </div>
            </div>
        </div>

    </div>
    
    <!-- to display categories -->
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category name</th>
                <th colspan="2">Action</th>

            </tr>
        </thead>
        <tbody *ngFor="let category of categories">
            <tr>
                <th scope="row">{{category.id}}</th>
                <td>{{category.name}}</td>
                <td><button type="button" class="btn btn-warning" (click)="edit(category.id)">Edit</button></td>
                <td><button type="button" class="btn btn-danger" (click)="delete(category.id)">Delete</button></td>

        </tbody>
    </table>
</div>