<div class="container">

    <!-- to list complains -->
    <table class="table text-center">
  
      <thead>
        <tr>
          <th scope="col">Playground Id</th>
          <th  scope="col">Message</th>
          <th  scope="col">player name</th>
          <th  scope="col">playground name</th>
          <th  scope="col">playground owner</th>

        </tr>
      </thead>
      <tbody *ngFor="let complains of complains">
        <tr>
            <td>{{complains.playground_id}}</td>
          <td>{{complains.message}}</td>
          <td>{{complains.player_name}}</td>
          <td>{{complains.playground_name}}</td>
          <td>{{complains.playground_owner}}</td>

          <!-- <td><button type="button" class="btn btn-danger" (click)="delete(category.id)">Delete</button></td> -->
  
      </tbody>
    </table>
  
  </div>