img:hover{
  cursor: pointer;
}

td{
  font-size: 18px;
}

tr>td:first-child{
  color: green;
  font-size: 20px;
  font-weight: 500;
  padding-right: 10px;
}

.star {
  font-size: 24px;
  cursor: pointer;
}

.filled {
  color: orange;
}

