<div class="card mb-5">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img [src]="'http://localhost:8000/images/'+playground.image" class="card-img" alt="..." (click)="redirectToDetails(playground.id)" height="300px">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <i class="fa-solid fa-heart" [class.text-danger]="playground.favorite" (click)="favourite(playground.id)"></i>
        <table>
          <tr>
            <td>Name </td>
            <td>{{playground.name}}</td>
          </tr>
          <tr>
            <td>Type</td>
            <td>{{playground.type}}</td>
          </tr>
          <tr>
            <td>Gov</td>
            <td>{{playground.location}}</td>
          </tr>
          <tr>
            <td>city</td>
            <td>{{playground.city}}</td>
          </tr>
          <tr>
            <td>street</td>
            <td>{{playground.street}}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>{{playground.price}} EGP</td>
          </tr>
          <tr>
            <td>Rating</td>
            <td>
              <div class="rating">
                <span class="star" [ngClass]="{'filled': playground.rating >= 1}">&#9734;</span>
                <span class="star" [ngClass]="{'filled': playground.rating >= 2}">&#9734;</span>
                <span class="star" [ngClass]="{'filled': playground.rating >= 3}">&#9734;</span>
                <span class="star" [ngClass]="{'filled': playground.rating >= 4}">&#9734;</span>
                <span class="star" [ngClass]="{'filled': playground.rating >= 5}">&#9734;</span>
              </div>
            </td>
          </tr>
        </table>
        <button class="btn btn-success recieve" (click)="goToRecieve(playground.id)">reserve</button>
      </div>
    </div>
  </div>
</div>

