<div class="main pt-5">
  <p class="text-center first-p">we can help you all over egypt</p>
  <p class="text-center">Find Your Favourite Field</p>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 my-5"  *ngFor="let playground of playgrounds">
        <app-card  [playground]="playground"></app-card>
      </div>
      <!-- <div class="col-4 d-flex justify-content-center align-items-center mt-5">
        <a class="btn px-3 my-btn">View All</a>
      </div> -->
    </div>
  </div>
</div>
