<aside class="p-2">
  <div class="mb-3">
    <button class="btn w-100 text-start" (click)="toggleContent('type')">Type</button>
    <div class="my-2 ms-3" [hidden]="!showTypeContent">
      <div *ngFor="let category of categories">
        <input type="checkbox" [name]="category.name" [id]="category.name" (change)="filter($event)">
        <label class="ms-1" [for]="category.name">{{category.name}}</label>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <button class="btn w-100 text-start" (click)="toggleContent('price')">Price</button>
    <div class="my-2 ms-3" [hidden]="!showPriceContent">
      <table>
        <tr>
          <td><label for="price_from">Price From :</label></td>
          <td>
            <input type="range" class="ms-1 my-1" [(ngModel)]="price_from" name="price_from" id="price_from" step="10" min="0" [max]="price_to" (change)="filter($event)">
            <span>{{ price_from }}</span>
          </td>
        </tr>
        <tr>
          <td><label for="price_to">Price To :</label></td>
          <td>
            <input type="range" class="ms-1 my-1" [(ngModel)]="price_to" name="price_to" id="price_to" step="10" [min]="price_from" max="1000" (change)="filter($event)">
            <span>{{ price_to }}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="mb-3">
    <button class="btn w-100 text-start" (click)="toggleContent('reviews')">Reviews</button>
    <div class="my-2 ms-3" [hidden]="!showReviewsContent">
      <div>
        <input type="checkbox" name="tennis" id="tennis">
        <label class="ms-1" for="tennis">tennis</label>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <button class="btn w-100 text-start" (click)="toggleContent('location')">Location</button>
    <div class="my-2 ms-3" [hidden]="!showLocationContent">
      <div>
        <input type="checkbox" name="cairo" id="cairo" [(ngModel)]="cairo" (change)="filter($event)">
        <label class="ms-1" for="cairo">cairo</label>
      </div>
      <div>
        <input type="checkbox" name="mansoura" id="mansoura" [(ngModel)]="mansoura" (change)="filter($event)">
        <label class="ms-1" for="mansoura">mansoura</label>
      </div>
    </div>
  </div>
</aside>

