<aside class="p-2">
  <div class="mb-3">
    <button class="btn w-100 text-start" (click)="toggleContent('type')">Type</button>
    <div class="my-2 ms-3" [hidden]="!showTypeContent">
      <div>
        <input type="checkbox" name="tennis" id="tennis" [(ngModel)]="tennis" (change)="filter()">
        <label class="ms-1" for="tennis">tennis</label>
      </div>
      <div>
        <input type="checkbox" name="paddle" id="paddle" [(ngModel)]="paddle" (change)="filter()">
        <label class="ms-1" for="paddle">paddle</label>
      </div>
      <div>
        <input type="checkbox" name="football" id="football" [(ngModel)]="football" (change)="filter()">
        <label class="ms-1" for="football">football</label>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <button class="btn w-100 text-start" (click)="toggleContent('price')">Price</button>
    <div class="my-2 ms-3" [hidden]="!showPriceContent">
      <label for="price_below">Price Below :</label>
      <input type="range" class="ms-1 my-1" [(ngModel)]="priceBelow" name="price_below" id="price_below" step="10" min="0" [max]="priceAbove" (change)="filter()">
      <span>{{ priceBelow }}</span>
      <br>
      <label for="price_above">Price Above :</label>
      <input type="range" class="ms-1 my-1" [(ngModel)]="priceAbove" name="price_above" id="price_above" step="10" [min]="priceBelow" max="1000" (change)="filter()">
      <span>{{ priceAbove }}</span>
    </div>
  </div>

  <div class="mb-3">
    <button class="btn w-100 text-start" (click)="toggleContent('reviews')">Reviews</button>
    <div class="my-2 ms-3" [hidden]="!showReviewsContent">
      <div>
        <input type="checkbox" name="tennis" id="tennis">
        <label class="ms-1" for="tennis">tennis</label>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <button class="btn w-100 text-start" (click)="toggleContent('location')">Location</button>
    <div class="my-2 ms-3" [hidden]="!showLocationContent">
      <div>
        <input type="checkbox" name="cairo" id="cairo" [(ngModel)]="cairo" (change)="filter()">
        <label class="ms-1" for="cairo">cairo</label>
      </div>
      <div>
        <input type="checkbox" name="mansoura" id="mansoura" [(ngModel)]="mansoura" (change)="filter()">
        <label class="ms-1" for="mansoura">mansoura</label>
      </div>
    </div>
  </div>
</aside>

