aside{
  border: 2px solid rgb(231, 231, 231);
  border-radius: 10px;
}
.btn:hover{
  background-color: #EBEBEB;
  color: black;
  transition: 0.3s;
}

button{
  background-color: rgb(235, 235, 235);
}
