.panel{
  background-color: var(--main-color2);
}

.main, .container{
  background-color: var(--main-color2);
  color: white;
}
/* .main{
  background: linear-gradient(to right, var(--main-color) 50%, white 50%);

} */
