.panel{
  background-color: var(--main-color2);
}

.main, .container{
  background-color: var(--main-color2);
  color: white;
  min-height: 93vh;
}


/* .main , .container{
  background: linear-gradient(to right, var(--main-color) 20%, white 80%);
} */
